@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #990001;
    --background-color: #f6f0e4;
}

body {
    margin: 0;
    font-family: "Arvo", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo {
    transition: filter 0.3s;
}

.logo:hover {
    filter: drop-shadow(0 0 2em var(--primary-color));
}

@media (prefers-reduced-motion: reduce) {
    .logo {
        transition: none;
    }
}
